<p>This is a handlebars page.</p>
{{#if logged_in}}
<p>You ARE logged in.</p>
{{else}}
<p>You are not logged in.</p>
{{/if}}
{{#if blogs.length}}
<div class="blog-list">
  <h1>Blogs:</h1>

  {{#each blogs as |blog|}}
  <div>
    <div>
      <h4><a href="/blog/{{blog.id}}">{{blog.title}}</a></h4>
    </div>
    <div>
      <button class="btn" data-id="{{blog.id}}">DELETE</button>
    </div>
  </div>
    {{/each}}
</div>
{{/if}}

<p>To see all blogs: <a href="/api/blogs">Link</a></p>
<p>To see all users: <a href="/api/users">Link</a></p>

<p>The links work (including the link consisting of the blog title).
	The delete buttons do not.
</p>